# archivos jar
*.war
*.jar
*.ear

#1. rutas de compilacion
#1.1 maven
/target/*

#1.2 netbeans
/build/*
/dist/*

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
